@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #626cd6; */
}

/* Login form */
.login_form {
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 20px;
    text-align: center;
}

/* Input fields */
form .input_box input {
    width: 100%;
    height: 50px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 16px;
    padding: 0px 20px;
    margin-bottom: 20px;
    transition: 0.2s ease;
}

form .input_box input:focus {
    border-color: #626cd6;
}

form .password_title {
    display: flex;
    justify-content: space-between;
}

/* Button */
form button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #626CD6;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

form button:hover {
    background: #4954d0;
}

/* RESPONSIVE FIXES */
@media (max-width: 480px) {
    .login_form {
        margin: 20px 60px;
        padding: 30px 20px;
    }

    form .input_box input {
        height: 35px;
        font-size: 12px;
        padding: 0 15px;
    }

    form button {
        height: 45px;
        font-size: 16px;
    }

    .login_form h3 {
        font-size: 18px;
    }
}
